
.formBorder{
    padding: 10px;
    border: 5px solid #435774;
    /*width: 1px;*/
}
.control-label{
    margin-left: -70px;
}
.control{
    margin-left: 100px;
}
.maxHeight600 .previewDiv{
    height: 600px;
}
.myFooter{
    border-top: 5px solid #435774;
    margin-top: 20px;
    bottom: 0;
    background-color: darkgray;
}

/**************** Loding Animation when accessing Ajax *****************/

#Gen{
    z-index: 9999;
    display: poScreenCenter;
    position: absolute;
	width:100px;
	height:100px;
    top: 50%;
    left: 50%;
	overflow:hidden;
	/*margin-left:250px;*/
	-webkit-transform:scale(0.6)
}
.block{
	-moz-border-radius:8px 8px 0px 0px;
	-webkit-border-radius:8px 8px 0px 0px;
	background-color:#efefef;
	height:36px;
	width:15px;
	float:left;
	-webkit-transform:scale(0.4);
	-webkit-animation-name: fade;
 	-webkit-animation-duration: 0.7s;
 	-webkit-animation-iteration-count: infinite;
 	-webkit-animation-direction: linear;
	}
#rotate_01{
	-webkit-transform:rotate(-90deg);
	-moz-transform:rotate(-90deg);
	margin-left:1px;
	margin-top:30px;
 	-webkit-animation-delay: .3s;
}
#rotate_02{
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	margin-left:-5px;
	margin-top:3px;
 	-webkit-animation-delay: 0.4s;
}
#rotate_03{
	-webkit-transform:rotate(0deg);
	-moz-transform:rotate(0deg);
	margin-left:12px;
	margin-top:-8px;
 	-webkit-animation-delay: 0.5s;
}
#rotate_04{
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	margin-left:14px;
	margin-top:3px;
 	-webkit-animation-delay: 0.6s;
}
#rotate_05{
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	margin-left:-4px;
	margin-top:30px;
 	-webkit-animation-delay: 0.7s;
}
#rotate_06{
	-webkit-transform:rotate(135deg);
	-moz-transform:rotate(135deg);
	margin-left:68px;
	margin-top:-8px;
 	-webkit-animation-delay: 0.8s;
}
#rotate_07{
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	margin-left:-43px;
	margin-top:2px;
 	-webkit-animation-delay: 0.9s;
}
#rotate_08{
	-webkit-transform:rotate(-135deg);
	-moz-transform:rotate(-135deg);
	margin-left:-72px;
	margin-top:-8px;
 	-webkit-animation-delay: 1s;
}

@-webkit-keyframes fade{
	0%{background-color:#333;}
	100%{background-color:#efefef;}
}